{% extends 'home.html' %}

{% load static %}

{% block about %}

<div class="w3l_banner_nav_right">
<!-- about -->
		<div class="privacy about">
			<h3>About Us</h3>
			<p class="animi">We Are Providing Online Grocery Items from Door To Door Dilivery. This Is Verified by Gov. This Is Helpfull For you. especially You Get Reward and benifits in festival Offers. This Will elliminate the problem of lifting your luggage. This Is A Local Grory Store</p>
			<div class="agile_about_grids">
				<div class="col-md-6 agile_about_grid_right">
					<img src=" {% static 'images/31.jpg' %}" alt=" " class="img-responsive" />
				</div>
				<div class="col-md-6 agile_about_grid_left">
					<ol>
						<li>This Is A Local Grocery Store</li>
						<li>This Proviing Online Grocery</li>
						<li>This Is Work On Case On Delivery</li>
						<li>Door To Door Delivery</li>
						<li>problem of lifting your luggage has sloved</li>
						<li>Free Online Delivery availabel.</li>
						<li>This Is Register By Goverment</li>
					</ol>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
<!-- //about -->
		</div>
		<div class="clearfix"></div>




{% endblock %}