{% extends 'home.html' %}

{% load static %}
{% block services %}
{% csrf_token %}
<!-- services -->
		<div class="services">
			<h3>Services</h3>
			<div class="w3ls_service_grids">
				<div class="col-md-5 w3ls_service_grid_left">
					<h4>Services</h4>
					<p>we are providing online grocery.This is a low-price online supermarket that allows you to order products across categories like grocery, vegetables, beauty & wellness, household care, baby care, pet care and meats & seafood and gets them delivered to your doorstep</p>
				</div>
				<div class="col-md-7 w3ls_service_grid_right">
					<div class="col-md-4 w3ls_service_grid_right_1">
						<img src="{% static 'images/18.jpg' %}" alt=" " class="img-responsive" />
					</div>
					<div class="col-md-4 w3ls_service_grid_right_1">
						<img src="{% static 'images/19.jpg' %}" alt=" " class="img-responsive" />
					</div>
					<div class="col-md-4 w3ls_service_grid_right_1">
						<img src="{% static 'images/20.jpg' %}" alt=" " class="img-responsive" />
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="w3ls_service_grids1">
				<div class="col-md-6 w3ls_service_grids1_left">
					<img src="{% static 'images/4.jpg' %}" alt=" " class="img-responsive" />
				</div>
				<div class="col-md-6 w3ls_service_grids1_right">
					<ul>
						<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Online Shoping</li>
						<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>No Charges On Delivery</li>
						<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Cash On Delivery</li>
						<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Fresh vagitable & Item Available</li>
						<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Best Deal Provide</li>
						<!-- <li><i class="fa fa-long-arrow-right" aria-hidden="true"></i></li> -->
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
<!-- //services -->

{% endblock %}